<div class="grid-container">
  @for (item of listGroup(); track item.id) {
    <div class="card-container" (click)="openGroup(item.id)">
      <div class="upper-container" [style.background-color]="item.color">
        @if (item.iconUrl) {
          <div class="image-container">
            <img [src]="item.iconUrl" alt="list group image" />
          </div>
        }
      </div>

      <div class="lower-container">
        <h3>{{ item.title }}</h3>
        @if (item.description) {
          <p>{{ item.description }}</p>
        }
      </div>
    </div>
  }
</div>
