@use 'variables' as *;
@import 'bootstrap-icons/font/bootstrap-icons.css';
@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

body {
  font-family: 'Space Mono', monospace;
}

input {
  font-family: 'Space Mono', monospace;
}

textarea {
  font-family: 'Space Mono', monospace;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background: $color-primary;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  border: 3px solid $color-accent;
  box-shadow: 4px 4px 0 $color-accent;
  transition: all 0.2s ease;
  font-family: 'Space Mono', monospace;

  &:hover {
    background: #fff;
    color: $color-primary;
    border: 3px solid $color-primary;
    box-shadow: none;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

input[type='color']::-moz-color-swatch {
  border: none;
}

input[type='color']::-webkit-color-swatch-wrapper {
  padding: 0;
  border-radius: 0;
}

input[type='color']::-webkit-color-swatch {
  border: none;
}
