<div class="vt-entries">
  <div class="page-header">
    <button
      type="button"
      class="return bi bi-arrow-left"
      aria-label="Close panel"
      [routerLink]="'/groups'"
    ></button>

    <h2 class="title prwt-logo-text">{{ group()?.title }}</h2>

    @if (group()?.description) {
      <p class="description">{{ group()?.description }}</p>
    }
  </div>

  <div class="page-body">
    @for (item of groupEntries().slice().reverse(); track item.created) {
      <div class="entry">
        <div class="voting">
          <button type="button" class="bi bi bi-chevron-up" aria-label="Increase vote"></button>
          <p class="total-votes">0</p>
          <button type="button" class="bi bi bi-chevron-down" aria-label="Decrease vote"></button>
        </div>
        <p>{{ item.text }}</p>
      </div>
    }
  </div>

  <div class="page-footer">
    <form (ngSubmit)="addEntry()" #groupForm="ngForm" class="form">
      <input type="text" class="form-control" name="entryText" [(ngModel)]="newTextEntry" />
      <div class="form-actions">
        <button type="submit" class="btn btn-primary">Add Entry</button>
      </div>
    </form>
  </div>
</div>
