<nav class="nav-bar">
  <a routerLink="/" class="logo">
    <img src="assets/images/PRWT_Logo_Banner.png" alt="PRWT logo" />
  </a>

  <div class="links">
    @if (!auth.isLoggedIn()) {
      <a (click)="auth.loginWithOAuth2()"
        >Login with <img src="assets/images/discord-icon.svg" alt="Discord logo" />
      </a>
    } @else {
      <p>{{ welcomeMessage() }}</p>
      <a routerLink="/account" routerLinkActive="is-active">Account</a>
      <a (click)="auth.logout()">Logout</a>
    }
  </div>
</nav>
