:host {
  view-transition-name: none;
  display: block;
}

.vt-groups {
  view-transition-name: groups-page;
  min-height: 100vh;
  background: #fff;
}

.page {
  position: relative;
  overflow: hidden;
  min-height: 100vh;
}
